<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.certiplate"
    android:versionCode="1"
    android:versionName="0.9" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

  <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission."/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-feature android:name="android.hardware.usb.host" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.navriti.skillahead.StartActivity"
            android:label="@string/app_name" 
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	
        <activity 
            android:name="com.navriti.skillahead.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         <activity 
            android:name="com.navriti.skillahead.ReportActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         <activity 
            android:name="com.navriti.skillahead.AdminActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
    	<activity 
            android:name="com.navriti.skillahead.AuthActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
    	<activity 
            android:name="com.navriti.skillahead.SyncActivity"
           	android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
    
        <activity 
            android:name="com.navriti.downloadpaper.DownloadingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
    
         <activity 
            android:name="com.navriti.purgedata.PurgeDataActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         <activity 
            android:name="com.navriti.skillahead.TheoryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         
         <activity 
            android:name="com.navriti.skillahead.IntermediateActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         <activity 
             android:name="com.navriti.skillahead.PracticalActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         <activity 
            android:name="com.navriti.upload.IndividualActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         <activity 
             android:name="com.navriti.upload.OverallActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
         
    </application>

</manifest>
